@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.fit-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four columns */
  gap: 20px; /* Space between grid items */
  margin-top: 20px;
  padding: 10px;
}

.individual-fit {
  display: flex;
  flex-direction: column; /* Stack items vertically in each fit */
  align-items: center; /* Center items horizontally */
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.fit-item {
  width: 100px; /* Adjust based on your preference */
  height: 100px; /* Adjust based on your preference */
  object-fit: cover;
  border-radius: 4px;
}

.fit_name {
  font-family: "Roboto", sans-serif;
}
