@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.clothes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px;
  width: 1365px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 55px;
}

.upload-icon-closet {
  border: dashed 4px #ffbbbb;
  padding: 82px;
  width: 128px;
  height: auto;
  border-radius: 20px;
  background-color: #ffeeee;
  transition: transform 0.25s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-icon-closet {
  border: solid 4px #ffbbbb;
  padding: 82px;
  width: 128px;
  height: auto;
  border-radius: 20px;
  background-color: #ffeeee;
  transition: transform 0.25s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clothes-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.25s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clothes-container img {
  width: 100%;
  height: auto;
}

.upload-icon-closet:hover {
  transform: scale(1.07);
}

.create-icon-closet:hover,
.clothes-container:hover {
  transform: scale(1.07);
}

.upload-icon-closet h3,
.create-icon-closet h3 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #bbbbbb;
  font-weight: 500;
  font-size: 13px;
  margin-top: 70px;
  margin-left: 1px;
}

.filter {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filter h3 {
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  margin-left: 50px;
  color: #9b9b9b;
  font-weight: 500;
}

.newest-filter,
.headwear-filter,
.top-filter,
.bottom-filter,
.footwear-filter {
  background-color: #f5f5f5;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: solid 1.5px #dddddd;
  transition: transform 0.3s ease;
}

.newest-filter-clicked,
.headwear-filter-clicked,
.top-filter-clicked,
.bottom-filter-clicked,
.footwear-filter-clicked {
  background-color: #ffdddd;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: solid 1.5px #ffcccc;
  transition: transform 0.3s ease;
}

.newest-filter:hover,
.headwear-filter:hover,
.top-filter:hover,
.bottom-filter:hover,
.footwear-filter:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.newest-filter p,
.headwear-filter p,
.top-filter p,
.bottom-filter p,
.footwear-filter p {
  font-family: "Roboto", sans-serif;
  color: #9b9b9b;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
}

.newest-first-icon,
.headwear-filter-icon,
.top-filter-icon,
.bottom-filter-icon,
.footwear-filter-icon {
  margin-right: 4px;
}
