@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f5f5f5;
}

.login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  height: 100vh;
  width: 500px;
  height: 600px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
}

.login-container .icon {
  margin-top: 55px;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(365deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 0.7s cubic-bezier(0.32, 1, 0.45, 1) infinite;
}

.login-container .title-welcome-page {
  color: rgba(255, 153, 153, 1);
  text-shadow: 3px 3px 3px rgba(255, 102, 102);
  font-family: "Madimi One", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: -15px;
}

.login-container .subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  letter-spacing: 1.5px;
  margin-top: 0px;
}

.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 47px;
  width: 297px;
  border: solid 1px #ffcccc;
  outline: none;
  background-color: #dddddd;
  color: #aaaaaa;
  cursor: pointer;
  transition: transform 0.2s;
}

.google-login:hover {
  transform: scale(1.07);
}

.google-login img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-left: -5px;
}

.google-login h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 25px 0;
  color: #aaaaaa;
  font-family: "Roboto", sans-serif;
}

.divider p {
  margin: 0 10px;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #dddddd;
  margin-top: 2px;
}

.enter-login-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.enter-login-email .email-icon {
  border: none;
  padding: 14.5px;
  padding-left: 15.5px;
  padding-right: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.enter-login-email .invalid-email-icon {
  border: none;
  padding: 14.5px;
  padding-left: 15.5px;
  padding-right: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc9bb;
}

.enter-login-email .email-input {
  height: 43px;
  width: 250px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #eeeeee;
  color: #aaaaaa;
}

.enter-login-email .invalid-email-input {
  height: 43px;
  width: 250px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffc9bb;
  color: #aaaaaa;
}

.enter-login-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.enter-login-password .password-icon {
  border: none;
  padding: 15.5px;
  padding-left: 16.5px;
  padding-right: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.enter-login-password .password-input {
  height: 43px;
  width: 205px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #eeeeee;
  color: #aaaaaa;
}

.enter-login-password .password-visibility {
  border: none;
  padding: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  cursor: pointer;
}

.enter-login-password .invalid-password-input {
  height: 43px;
  width: 205px;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffc9bb;
  color: #aaaaaa;
}

.enter-login-password .invalid-password-visibility {
  border: none;
  padding: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc9bb;
  cursor: pointer;
}

.enter-login-password .invalid-password-icon {
  border: none;
  padding: 15.5px;
  padding-left: 16.5px;
  padding-right: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc9bb;
}

.invalid-credentials-message {
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin-top: 75px;
}

.invalid-credentials-message p {
  font-weight: 400;
  font-size: 12px;
  color: #ff4122;
}

.login-button {
  color: white;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  background: #ff9999;
  cursor: pointer;
  border: 1px solid #ff9999;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px #ff6666, -4px -4px 8px #ffffff;
  margin-top: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.login-button:active {
  color: #eeeeee;
  box-shadow: inset 2px 2px 6px #ff6666, inset -1px -1px 8px #ffcccc;
}
