@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  height: 80px;
  display: flex;
  align-items: center;
}

.uploadpage-icon {
  margin-left: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 8px;
}

.title {
  font-family: "Madimi One", sans-serif;
  color: rgba(255, 153, 153, 1);
  text-shadow: -1px 1px 2px rgba(255, 102, 102);
  font-size: 34px;
  font-weight: 700;
  margin-top: 5px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  color: #bbbbbb;
  font-size: 13px;
  margin-top: -7px;
  margin-left: 3px;
}

.upload-container {
  border: dashed 4px #ffbbbb;
  border-radius: 20px;
  width: 700px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: white;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}

@keyframes glowDiffuseAnimation {
  0%,
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 187, 187, 0);
  }
  25% {
    box-shadow: 0 0 10px 2px rgba(255, 187, 187, 0.6);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 187, 187, 0.4);
  }
  75% {
    box-shadow: 0 0 25px 10px rgba(255, 187, 187, 0.2);
  }
}

.upload-container.loading {
  /* animation: pulseBackground 2.5s infinite; */
  background-color: #ffeeee;
}

/* @keyframes pulseBackground {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ffeeee;
  }
  100% {
    background-color: #fff;
  }
} */

.loading-indicator {
  border: 4px solid white;
  border-top: 4px solid #ff9999;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.drag-over {
  position: relative;
  border: dashed 4px #ffbbbb;
  border-radius: 20px;
  width: 710px;
  height: 405px;
  margin: 115px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeeee;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, background-color 0.2s;
  animation: glowDiffuseAnimation 1.5s infinite ease-in-out;
}

.instructions {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions h3 {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}

.instructions p {
  font-family: "Roboto", sans-serif;
  color: #aaaaaa;
  font-size: 14px;
  margin-top: -10px;
}

.browse-files-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #808080;
  border-radius: 10px;
  height: 30px;
  width: 130px;
  border: solid 2px #ff9999;
  background-color: white;
  font-size: 13px;
}

.browse-files-button:hover {
  background-color: #ff9999;
  color: white;
}

.browse-files-button:active {
  background-color: #ffcccc;
  border: solid 2px #ffcccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.continue-page-image {
  background-color: white;
  width: 425px;
  height: 525px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.continue-page-image img {
  margin-top: 5px;
}

.tagging-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 310px;
}

.tagging-options > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headwear p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 6px;
}

.headwear.selected p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ff9999;
  margin-top: 6px;
}

.top p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 5px;
  margin-bottom: 12px;
}

.top.selected p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ff9999;
  margin-top: 5px;
  margin-bottom: 12px;
}

.bottom p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #aaaaaa;
}

.bottom.selected p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #ff9999;
}

.footwear p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 11px;
  color: #aaaaaa;
}

.footwear.selected p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 11px;
  color: #ff9999;
}

.hat-icon,
.shirt-icon,
.pants-icon,
.shoe-icon {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.hat-icon:hover,
.shirt-icon:hover,
.pants-icon:hover,
.shoe-icon:hover {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.continue-page-image .container-label {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  margin-top: -450px;
  font-weight: 400;
  text-decoration: underline;
  font-size: 16px;
}

.garbage-icon {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  left: 10px;
  color: #bbbbbb;
}

.garbage-icon:hover {
  transform: scale(1.2);
  color: #ff9999;
}

.complete-icon {
  position: absolute;
  bottom: 10px;
  left: 375px;
  cursor: pointer;
  transition: transform 0.2s ease;
  right: 30px;
  color: #bbbbbb;
}

.complete-icon:hover {
  transform: scale(1.2);
  color: #a9daad;
}

.complete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.error-message p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: -13px;
  color: #ff6666;
}
