@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  height: 80px;
  display: flex;
  align-items: center;
}

.uploadpage-icon {
  margin-left: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 8px;
}

.title {
  font-family: "Madimi One", sans-serif;
  color: rgba(255, 153, 153, 1);
  text-shadow: -1px 1px 2px rgba(255, 102, 102);
  font-size: 34px;
  font-weight: 700;
  margin-top: 5px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  color: #bbbbbb;
  font-size: 13px;
  margin-top: -7px;
  margin-left: 3px;
}

.upload-container {
  border: dashed 4px #ffbbbb;
  border-radius: 20px;
  width: 700px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: white;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}

@keyframes glowDiffuseAnimation {
  0%,
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 187, 187, 0);
  }
  25% {
    box-shadow: 0 0 10px 2px rgba(255, 187, 187, 0.6);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 187, 187, 0.4);
  }
  75% {
    box-shadow: 0 0 25px 10px rgba(255, 187, 187, 0.2);
  }
}

.drag-over {
  position: relative;
  border: dashed 4px #ffbbbb;
  border-radius: 20px;
  width: 710px;
  height: 405px;
  margin: 115px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeeee;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, background-color 0.2s;
  animation: glowDiffuseAnimation 1.5s infinite ease-in-out;
}

.instructions {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions h3 {
  font-family: "Roboto", sans-serif;
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}

.instructions p {
  font-family: "Roboto", sans-serif;
  color: #aaaaaa;
  font-size: 14px;
  margin-top: -10px;
}

.browse-files-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #808080;
  border-radius: 10px;
  height: 30px;
  width: 130px;
  border: solid 2px #ff9999;
  background-color: white;
  font-size: 13px;
}

.browse-files-button:hover {
  background-color: #ff9999;
  color: white;
}

.browse-files-button:active {
  background-color: #ffcccc;
  border: solid 2px #ffcccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.image-preview {
  background-color: white;
  width: 425px;
  height: 525px;
  margin: auto;
  /* z-index: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-preview .verify-text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  margin-top: -450px;
  font-weight: 400;
  text-decoration: underline;
}

.image-preview img {
  margin-top: 0px;
}

.garbage-icon {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  left: 30px;
  color: #9b9b9b;
}

.next-icon {
  position: absolute;
  bottom: 10px;
  left: 350px;
  cursor: pointer;
  transition: transform 0.2s ease;
  right: 30px;
  color: #9b9b9b;
}

.garbage-icon:hover {
  transform: scale(1.2);
  color: #ff9999;
}

.next-icon:hover {
  transform: scale(1.2);
  color: #a9daad;
}

.discard-hover-text {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease, visibility 0.3s ease;
  position: absolute;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-left: -191.5px;
  margin-top: -13px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discard-hover-text p {
  font-size: 12px;
}

.discard-hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2 transparent transparent transparent;
}

.continue-hover-text {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease, visibility 0.3s ease;
  position: absolute;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-left: 135px;
  margin-top: -10px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2 transparent transparent transparent;
}

.discard-hover-text p,
.continue-hover-text p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0;
  color: #aaaaaa;
}

.garbage-icon-text:hover .discard-hover-text,
.next-icon-text:hover .continue-hover-text {
  visibility: visible;
  opacity: 1;
}

.continue-page-image {
  background-color: white;
  width: 425px;
  height: 525px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.continue-page-image img {
  margin-top: 75px;
}

.tagging-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 310px;
}

.tagging-options > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headwear p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #aaaaaa;
}

.top p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #aaaaaa;
}

.bottom p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  color: #aaaaaa;
}

.footwear p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
  color: #aaaaaa;
}

.hat-icon,
.shirt-icon,
.pants-icon,
.shoe-icon {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.hat-icon:hover,
.shirt-icon:hover,
.pants-icon:hover,
.shoe-icon:hover {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.continue-page-image .container-label {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  margin-top: -450px;
  font-weight: 400;
  text-decoration: underline;
  font-size: 16px;
}

.complete-icon {
  position: absolute;
  bottom: 10px;
  left: 370px;
  cursor: pointer;
  transition: transform 0.2s ease;
  right: 30px;
  color: #9b9b9b;
}

.complete-icon:hover {
  transform: scale(1.2);
  color: #a9daad;
}

.complete-hover-text {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease, visibility 0.3s ease;
  position: absolute;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-left: 145px;
  margin-top: -73px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2 transparent transparent transparent;
}

.complete-hover-text p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0;
  color: #aaaaaa;
}

.complete-icon-text:hover .complete-hover-text {
  visibility: visible;
  opacity: 1;
}

.complete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
